<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Frontend</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <app-root></app-root>
  <script type="text/javascript" src="{{ url_for('static', filename='runtime-es2015.js') }}" type="module"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='runtime-es5.js') }}" nomodule defer></script>
  <script type="text/javascript" src="{{ url_for('static', filename='polyfills-es5.js') }}" nomodule defer></script>
  <script type="text/javascript" src="{{ url_for('static', filename='polyfills-es2015.js') }}" type="module"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='main-es2015.js') }}" type="module"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='main-es5.js') }}" nomodule defer></script>
</body>

</html>